In [8]:
import tensorflow as tf
from tensorflow import keras
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import joblib

In [17]:
model = tf.keras.models.load_model('model-parkir1b.h5', compile=False)

scaler = joblib.load('scaler_Dur-park1.pkl')
label_encoder_vehicle = joblib.load('label_encoder_VH1.pkl')
label_encoder_parking =joblib.load('label_encoder_PK1.pkl')

In [16]:

# Misalnya, data baru dalam bentuk DataFrame 'new_data'
new_data = pd.DataFrame({
    'Vehicle Type': ['MOBIL'],  # Sesuaikan dengan kategori yang sesuai
    'Parking Slip Type': ['CASUAL'],  # Sesuaikan dengan kategori yang sesuai
    'Duration': [4.5]
})

# Encode kolom kategorikal menggunakan LabelEncoder yang sama dengan data pelatihan
new_data['Vehicle Type'] = label_encoder_vehicle.transform(new_data['Vehicle Type'])
new_data['Parking Slip Type'] = label_encoder_parking.transform(new_data['Parking Slip Type'])

# Normalisasi fitur numerik jika diperlukan
new_data['Duration'] = scaler.transform(new_data[['Duration']])

# Prediksi Total Income untuk data baru
predicted_income = model.predict(new_data)
print(f'Prediksi Total Income untuk data baru: {predicted_income[0][0]}')

1/1 [==============================] - 0s 43ms/step
Prediksi Total Income untuk data baru: 21070.4140625

In [18]:
path = r"C:\Users\khoir\datascience\data-analitics\new-MLParking\test_data.csv"
new_data = pd.read_csv(path, usecols=['Vehicle Type','Parking Slip Type','Duration'])
new_data.head()

  Vehicle Type Parking Slip Type  Duration
0        MOTOR            CASUAL  0.033333
1        MOTOR            CASUAL  0.000000
2        MOTOR            CASUAL  6.250000
3        MOBIL            CASUAL  0.700000
4        MOTOR            CASUAL  8.033333

In [19]:
# Encode kolom kategorikal menggunakan LabelEncoder yang sama dengan data pelatihan
new_data['Vehicle Type'] = label_encoder_vehicle.transform(new_data['Vehicle Type'])
new_data['Parking Slip Type'] = label_encoder_parking.transform(new_data['Parking Slip Type'])

# Normalisasi fitur numerik jika diperlukan
new_data['Duration'] = scaler.transform(new_data[['Duration']])

# Prediksi Total Income untuk data baru
predicted_income = model.predict(new_data)
print(f'Prediksi Total Income untuk data baru: {predicted_income[0][0]}')

340/340 [==============================] - 0s 1ms/step
Prediksi Total Income untuk data baru: 2032.7486572265625

In [21]:
print(type(predicted_income))

<class 'numpy.ndarray'>

In [22]:
new_data['predicted'] = predicted_income

In [23]:
new_data.head()

   Vehicle Type  Parking Slip Type  Duration     predicted
0             2                  0 -0.727415   2032.748657
1             2                  0 -0.735269   2021.845703
2             2                  0  0.737258  13386.573242
3             1                  0 -0.570346   5955.327637
4             2                  0  1.157419  16920.353516

In [24]:
dftest = pd.read_csv(path)
dftest.head()

,Vehicle Type,Parking Slip Type,Total Income,Exit_date,Entry_date,Duration
0,MOTOR,CASUAL,2000,2022-10-10,2022-10-10,0.033333
1,MOTOR,CASUAL,2000,2022-10-10,2022-10-10,0.000000
2,MOTOR,CASUAL,0,2022-10-12,2022-10-12,6.250000
3,MOBIL,CASUAL,0,2022-10-12,2022-10-12,0.700000
4,MOTOR,CASUAL,0,2022-10-12,2022-10-12,8.033333

In [25]:
dftest['predicted_income'] = predicted_income
dftest.head()

,Vehicle Type,Parking Slip Type,Total Income,Exit_date,Entry_date,Duration,predicted_income
0,MOTOR,CASUAL,2000,2022-10-10,2022-10-10,0.033333,2032.748657
1,MOTOR,CASUAL,2000,2022-10-10,2022-10-10,0.000000,2021.845703
2,MOTOR,CASUAL,0,2022-10-12,2022-10-12,6.250000,13386.573242
3,MOBIL,CASUAL,0,2022-10-12,2022-10-12,0.700000,5955.327637
4,MOTOR,CASUAL,0,2022-10-12,2022-10-12,8.033333,16920.353516

In [26]:
from sklearn.metrics import r2_score

In [29]:
# Mengukur R-squared antara kolom aktual dan kolom yang diprediksi
r_squared = r2_score(dftest['Total Income'], dftest['predicted_income'])

# Tampilkan nilai R-squared
print(f'R-squared: {r_squared:.2f}')

R-squared: 0.91

In [30]:
dftest.to_csv('Hasil-prediksi.csv', index=False)